*,
 *::before,
 *::after{
    box-sizing:border-box;
    padding: 0.5rem;
 }
 .container{
  padding: 3rem;
  color: rgb(125, 125, 233);
  font-family: 'Segoe UI', Tahoma, ;
 }
 .categoriaTaxi{
 border-radius: 5px;
 border-width: 2px;
}
 #mostrarTaxi{
 border-style:solid;
 border-width:2px;
 border-radius:5px;
 color:white;
 background-color: rgb(23, 23, 167);            
 border-radius: 8px;        
 cursor: pointer;/

 }

 #detalleTaxi{
 height: auto;
 width:70%;
 text-align:justify;
 background:linear-gradient(rgb(61, 67, 163),rgb(65, 65, 184));
 color:white;
 padding: 0.5rem; 
 border-radius: 5px;
}
/*---ESTILOS DE CLASE SUMATORIA*/
.sumatoria{  
 display:flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 height: auto;
 width: 70%;
 gap:8px;
 border-style:solid;
 border-width:2px;
 border-radius:5px;
 background:linear-gradient(rgb(174, 178, 236),rgb(65, 65, 184));
 border-color: rgba(163, 163, 240, 0.856); 
}

.title{
   color: aliceblue;
}
#suma {
  display: inline-flex;       
  align-items: center;  /*vertical*/    
  justify-content: center;    
  padding: 0.5rem;
  height: 47px;
  font-size: x-large;  
  border-width: 1px;
  background-color: rgb(23, 23, 167);            
  border-radius: 8px;        
  cursor: pointer;
}

#suma i {
  display: inline-flex;        
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; 
}
.base{
   display: inline-flex;      
   align-items: center;
   justify-content: center;
   height:45px;
   width:50px;
   border-radius:5px ;
   background-color: aliceblue;
  
}