*,
 *::before,
 *::after{
    box-sizing:border-box;
    padding: 0.5rem;
 }
 .container{
    padding: 3rem;
    color: rgb(125, 125, 233);
    font-family: 'Segoe UI', Tahoma, ;
 }
 .categoriaTaxi{
 border-radius: 5px;
 border-width: 2px;
}
 #mostrarTaxi{
 border-style:solid;
 border-width:2px;
 border-radius:5px;
 color:white;
 background-color: rgb(23, 23, 167);            
 border-radius: 8px;        
 cursor: pointer;/

 }

 #detalleTaxi{
 height: auto;
 width:70%;
 text-align:justify;
 background:linear-gradient(rgb(61, 67, 163),rgb(65, 65, 184));
 color:white;
 padding: 0.5rem; 
 border-radius: 5px;
}